<div *ngIf="posts.length !== 0" class="container">
  <div class="media bottom" *ngFor="let post of posts">
    <div class="media-left">
      <a href="#">
        <img class="media-object center-block" src="http://api.adorable.io/avatars/64/{{post.poster}}.png" alt="Profile Image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a [routerLink]="['/', 'profile', post.created_by]">{{post.poster}}</a> posted on {{post.created_on | date:"MM/dd/yy"}}
        <button (click)="delete(post.post_id, thread_id, user.username)" *ngIf="(post.created_by === user.username) || (user.is_admin === 1)"  type="button" class="pull-right btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </h4>
      {{post.message}}
    </div>
  </div>
  <br>
  <div *ngIf="user" class="well" (click)="leaveReply()">
    <div class="media">
      <div class="media-body text-center">
        Leave A Reply
      </div>
    </div>
  </div>

  <div *ngIf="!user" class="well" [routerLink]="['/', 'log-in']">
    <div class="media">
      <div class="media-body text-center">
        Log In To Leave A Reply!
      </div>
    </div>
  </div>
</div>

<div *ngIf="posts.length === 0" class="container text-center">
  <h1>No posts found... Are you sure there is a thread here?</h1>
  <h5><a [routerLink]="['/']">(Back To Home)</a></h5>
</div>

<div id="new-reply" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Post A Reply</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea [(ngModel)]="reply" class="form-control" rows="5" name="reply" id="reply"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="newPost()" class="btn btn-default">Post</button>
      </div>
    </div>

  </div>
</div>
